<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <!-- Clear existing connection strings and add new SQLite connection string -->
        <clear />
        <add name="ticket_sales"
             providerName="System.Data.SQLite"
             connectionString="Data Source=C:\Users\Deea\Desktop\Uni\By Year\Second year\Semester 2\Systems for Design and Implementation\Labs\DB-TicketSales\ticket_sales.db" />
    </connectionStrings>
</configuration>
